* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #2B2D3A;
    color: #fff;
    font-family: 'Poppins';
}

a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.stop-scrolling {
    /* height: 100vh; */
    overflow: hidden;
}

button {
    cursor: pointer;
}

nav li {
    cursor: pointer;
}

.active{
    padding-bottom: 0.2rem;
    border-bottom: 3px solid #1DD882;
}

nav li:last-child {
    margin-right: 0;
}

nav {
    width: 100%;
    background-color: #2B2D3A;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.logo {
    font-family: 'La Belle Aurore', cursive;
    font-size: 3.5rem;
    color: #1DD882;
    padding: 0;
    margin: 0;
    line-height: 53px;
    height: 37px;
}

.nav_menu {
    list-style: none;
    display: flex;
}

.nav_menu li {
    margin-right: 2rem;
}

/* .nav_menu li .about_me:hover .hr::after {} */

.nav_buttons .login,
.res_nav_buttons .login {
    background-color: #2B2D3A;
    border: 2px solid #1DD882;
    border-radius: 10px;
    color: #fff;
    padding: 0.5rem 1.7rem;
    font-family: 'Poppins';
    font-size: 1rem;
    margin-right: 1.5rem;
}

.nav_buttons .login a,
.res_nav_buttons .login a {
    text-decoration: none;
    color: #fff;
}

.nav_buttons .contact,
.res_nav_buttons .contact {
    background-color: #1DD882;
    border: none;
    border-radius: 10px;
    color: #fff;
    padding: 0.6rem 1.5rem;
    font-family: 'Poppins';
    font-size: 1rem;
}

.fa-bars {
    display: none;
}

/* Start of mobile nav */
.responsive_nav {
    background-color: #1E1F29;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    visibility: hidden;
    position: fixed;
    height: 87vh;
    width: 100%;
    z-index: 100;
    
}

.res_nav_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.res_nav_menu {
    list-style-type: none;
}

.res_nav_menu li {
    margin-bottom: 2rem;
    text-decoration: none;
}

.res_nav_menu a {
    text-decoration: none;
}

.res_nav_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.res_nav_buttons .login {
    margin-right: 0;
    margin-bottom: 2rem;
}

.res_nav_buttons .login,
.res_nav_buttons .contact {
    font-weight: 600;
}

.res_nav_buttons .contact {
    margin-bottom: 0rem;
}

/* end of mobile nav */

.hero {
    min-height: 86vh;
    display: flex;
    align-items: center;
}

.hero_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 5rem auto;
    height: 70%;
}

.hero_section img {
    width: 23rem;
    height: 23rem;
    object-fit: cover;
    border-radius: 10px;
}

.hero_section .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.hero_section .right {
    width: 40%;
    height: 100%;
}

.hero_section .self_description {
    text-align: left;
}

.hero_section .self_description .name {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.hero_section .self_description .role {
    font-size: 2.5rem;
}

.hero_section .left button {
    background-color: #1DD882;
    border: none;
    border-radius: 10px;
    color: #fff;
    padding: 0.6rem 1.5rem;
    font-family: 'Poppins';
    font-size: 1rem;
    width: fit-content;
    margin-top: 3rem;
}

.hero_section .self_description .description {
    max-width: 28rem;
    font-size: 1.2rem;
}

#about_me_text {
    min-height: 86vh;
    display: flex;
    align-items: center;
}

#about_me_text .pictures img {
    width: 14rem;
    height: 14rem;
    object-fit: cover;
    object-position: center;
}

#about_me_text .pictures {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 14rem));
    width: 30rem;
}

#about_me_text .self_description {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}

#about_me_text .self_description .text {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about_me_text .self_description .text .title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

#about_me_text .self_description .text .title span {
    color: #1DD882;
}

#about_me_text .self_description .text .longer_description {
    width: 90%;
    margin-bottom: 1.2rem;
}

#about_me_text .self_description .left {
    min-width: 50%;
    display: flex;
    justify-content: center;
}

#about_me .background {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-bottom: 4rem;
    margin-top: 2rem;
}

#about_me .background .academic,
#about_me .background .work {
    width: 47%;

}

.academic .title p,
.work .title p {
    font-size: 1.5rem;
    margin-bottom: 0.4rem;
}

.academic .title,
.work .title {
    margin-bottom: 2rem;
}

.academic .title p span,
.work .title p span {
    color: #1DD882;
}

.hr {
    display: inline-block;
}

.hr ::after {
    content: '';
    display: block;
    border-top: 3px solid #1DD882;
    width: 7.8rem;
}

.work .hr ::after {
    width: 3.8rem;
}

.timeline_item {
    margin-bottom: 3rem;
    position: relative;
}

.timeline_item .degree {
    font-weight: 700;
}

#about_me .background .timeline_items {
    position: relative;
    width: 93%;
}

.timeline_items {
    padding-left: 2rem;
}

#about_me .background .timeline_items::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 80%;
    background-color: #1DD882;
    left: 0;

}

.timeline_item:last-child {
    margin-bottom: 0;
}

.fa-graduation-cap,
.fa-school,
.fa-rectangle-code,
.fa-layer-group {
    font-size: 1.5rem;
    background-color: #1DD882;
    border-radius: 50%;
    padding: 0.7rem 0.5rem;
}

.timeline_icon {
    left: -3.5rem;
    position: absolute;
}

#about_me .background .body {
    display: flex;
    justify-content: center;
}

#skills {
    min-height: 86vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#skills .main {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#skills .cards_container {
    max-width: 100%;
    overflow: auto;
    width: 72.7%;
}

#skills .cards_container::-webkit-scrollbar {
    display: none;
}

#skills .main .title {
    font-size: 2.5rem;
    margin-top: 1.5rem;
}

#skills .main .title span {
    color: #1DD882;
}

#skills .main .short_description {
    color: #D4D4D4;
    font-size: 0.9rem;
}

#skills .main .cards {
    display: flex;
    width: max-content;
    margin-top: 3rem;
    align-items: center;
    justify-content: center;
}

#skills .main .cards .card {
    background-color: #1E1F29;
    margin-right: 2rem;
    height: 15rem;
    width: 17rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1.2rem;
    cursor: pointer;
}

.fa-arrow-right,
.fa-arrow-left {
    font-size: 1.5rem;
    background-color: #1DD882;
    border-radius: 50%;
    padding: 0.7rem 0.8rem;
    cursor: pointer;
}

#skills .pop_up {
    background-color: #1E1F29;
    height: 70vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#skills .close {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

#skills .close .container{
    background-color: #1DD882;
    height: 1.5rem;
    width: 1.5rem;
}

.fa-xmark {
    cursor: pointer;
}

#popup_container {
    max-height: 100%;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.616);
    /* backdrop-filter: blur(2px); */
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

#skills .pop_up .title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

#skills .pop_up .cards {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

#skills .pop_up .card {
    color: #fff;
    background-color: #1DD882;
    margin-right: 2rem;
    padding: 1rem 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 10px;
}

.show_popup {
    visibility: visible;
}

.pop_up::backdrop {
    background-color: hsla(0, 0%, 0%, 0.3);
}

.main .navigations {
    margin-top: 2rem;
}

.fa-arrow-left {
    margin-right: 0.5rem;
}

.skill_category:last-child {
    margin-right: 0;
}

#work {
    min-height: 86vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#work .cards_container {
    max-width: 100%;
    overflow: auto;
    width: 59%;
}

#work .cards_container::-webkit-scrollbar {
    display: none;
}

#work .title {
    font-size: 2.5rem;
    margin-top: 1.5rem;
}

#work .title span {
    color: #1DD882;
}

#work .short_description {
    color: #D4D4D4;
    font-size: 0.9rem;
}

.work_card {
    background-color: #1E1F29;
    margin-right: 2rem;
    height: 15rem;
    width: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.work_card img {
    width: 14rem;
    height: 9rem;
    border-radius: 10px;
    object-fit: cover;
}

#work .cards {
    display: flex;
    width: max-content;
    margin-top: 3rem;
    align-items: center;
    justify-content: center;
}

#work .card {
    padding-top: 0.5rem;
    width: 15rem;
    height: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.work_card:last-child {
    margin-right: 0;
}

#work .likes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 88%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.fa-heart {
    color: #1DD882;
    margin-right: 0.5rem;
}

.work_card .project_name {
    text-align: left;
    width: 88%;
}

#work .navigations {
    margin-top: 2rem;
}

#blogs {
    min-height: 86vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#blogs .title {
    font-size: 2.5rem;
    margin-top: 1.5rem;
}

#blogs .title span {
    color: #1DD882;
}

#blogs .short_description {
    color: #D4D4D4;
    font-size: 0.9rem;
}

.blog_card {
    background-color: #1E1F29;
    margin-right: 2rem;
    height: 13rem;
    width: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.blog_card img {
    width: 16rem;
    height: 10rem;
    border-radius: 10px;
    object-fit: cover;
}

#blogs .cards {
    display: flex;
    width: fit-content;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

#blogs .card {
    padding-top: 0.5rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    width: 17rem;
    height: 22.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.blog_card:last-child {
    margin-right: 0;
}

.blog_card .blog_title {
    text-align: center;
    width: 100%;
    font-weight: 700;
    margin-top: 1rem;
    line-height: 1.2rem;
}

.blog_card .shrt_description {
    text-align: center;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: 0.8rem;
}

#blogs .navigations {
    margin-top: 2rem;
}

.blog_card button {
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
    font-family: 'Poppins';
    width: fit-content;
    font-weight: 600;
}

.blog_card button a {
    color: #000;
    text-decoration: none;
}

#blogs .view_all {
    background-color: #1DD882;
    border: none;
    border-radius: 10px;
    color: #fff;
    padding: 0.5rem 1.5rem;
    font-family: 'Poppins';
    font-size: 1rem;
    width: fit-content;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#contact {
    min-height: 86vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

#contact .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

#contact .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact .right {
    width: 50%;
    display: flex;
    justify-content: center;
}

.form_container {
    width: 60%;
    background-color: #1E1F29;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

#contact .left .title {
    font-size: 2.5rem;
}

#contact .left .title span {
    font-size: 3rem;
    color: #1DD882;
}

#contact .left .short_description {
    width: 60%;
    text-align: center;
    color: #D4D4D4;
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
}

#contact .socials {
    display: flex;
}

.fa-envelope,
.fa-github,
.fa-linkedin-in {
    font-size: 1.5rem;
}

#contact .email,
#contact .github,
#contact .linkedin {
    background-color: #1DD882;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact .email,
#contact .github {
    margin-right: 1rem;
}

.contact_form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 75%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.contact_form label {
    font-weight: 600;
    margin-bottom: 0.2rem;
}

.contact_form input {
    margin-bottom: 0.9rem;
    border-radius: 10px;
    background-color: #1E1F29;
    height: 2rem;
    border: 1px solid #fff;
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 0.5rem;
}

.contact_form button {
    color: #fff;
    background-color: #1DD882;
    border: none;
    border-radius: 10px;
    padding: 0.5rem 3rem;
    font-family: 'Poppins';
    width: fit-content;
}

.contact_form #message {
    height: 5rem;
}

#footer {
    height: 3rem;
    background-color: #1E1F29;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1209px) {
    #skills .cards_container {
        width: 75%;
    }

    #work .cards_container {
        width: 65%;
    }
}

@media screen and (max-width: 1174px) {
    #about_me_text .pictures img {
        width: 14rem;
        height: 14.5rem;
    }
}

@media screen and (max-width: 1173px) {
    #skills .cards_container {
        width: 77.5%;
    }

    #work .cards_container {
        width: 68%;
    }
}

@media screen and (max-width: 1160px) {
    .hero_section {
        width: 80%;
    }

    .hero_section .self_description .role {
        max-width: 90%;
        font-size: 2.5rem;
    }

    .hero_section .self_description .description {
        max-width: 90%;
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 1132px) {
    #skills .cards_container {
        width: 80%;
    }

    #work .cards_container {
        width: 70%;
    }
}

@media screen and (max-width: 1098px) {
    #skills .cards_container {
        width: 81%;
    }

    .main .navigations {
        display: none;
    }

    #skills .cards_container .card:last-child {
        margin-right: 0;
    }

    #work .cards_container {
        width: 72%;
    }

    #work .navigations {
        display: none;
    }

    #work .cards_container .card:last-child {
        margin-right: 0;
    }
}

@media screen and (max-width:1083px) {
    .hero_section {
        width: 80%;
    }

    .hero_section img {
        width: 20rem;
        height: 20rem;
    }

    #skills .cards_container {
        width: calc(90vw - 4rem);
    }

    #skills .main .short_description {
        max-width: 80%;
    }

    #work .cards_container {
        width: calc(81vw - 4rem);
    }

    #work .short_description {
        max-width: 80%;
    }
}

@media screen and (max-width: 1051px) {
    .blog_card {
        height: 13rem;
        width: 13rem;
        margin-right: 1rem;
    }
}

@media screen and (max-width: 1008px) {
    #about_me_text .pictures img {
        width: 12rem;
        height: 12rem;
    }

    #about_me_text .pictures {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(12rem, 12rem));
        width: 24rem;
        height: fit-content;
    }

    #about_me_text .self_description {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    #contact {
        margin-bottom: 4rem;
    }

    .form_container {
        width: 80%;
    }
}

@media screen and (max-width: 965px) {
    #blogs .cards {
        overflow: auto;
    }

    #blogs .card {
        width: 13rem;
        height: 18.5rem;
        margin-right: 1.5rem;
    }

    .blog_card img {
        width: 12rem;
        height: 6rem;
    }

    .blog_card .blog_title {
        font-size: 0.8rem;
    }

    .blog_card button {
        font-size: 0.8rem;
    }

    #blogs .card:last-child {
        margin-right: 0;
    }
}

@media screen and (max-width: 910px) {
    .nav_menu li {
        margin-right: 1rem;
    }
}

@media screen and (max-width:879px) {
    .hero_section img {
        width: 16rem;
        height: 16rem;
    }

    .hero_section .self_description .name {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }

    .hero_section .self_description .role {
        font-size: 1.8rem;
    }

    .hero_section .self_description .description {
        font-size: 1rem;
    }

}

@media screen and (max-width: 853px) {
    #about_me_text .pictures img {
        width: 10rem;
        height: 10rem;
    }

    #about_me_text .pictures {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(10rem, 10rem));
        width: 20rem;
        height: fit-content;
        margin-top: 5rem;
    }

    #about_me_text .self_description .text .title {
        margin-bottom: 1rem;
    }

    #about_me_text .self_description .text .longer_description {
        width: 95%;
        margin-bottom: 1.2rem;
    }
}

@media screen and (max-width: 797px) {
    #skills .pop_up {
        width: 80%;
    }
}

/* Change font size */
@media screen and (max-width: 780px) {
    .nav_buttons .contact {
        font-size: 0.8rem;
        padding: 0.6rem 1rem;
    }

    .nav_buttons .login {
        font-size: 0.8rem;
        padding: 0.5rem 1.2rem;
        margin-right: 1rem;
    }

    .nav_menu li {
        font-size: 0.8rem;
    }

    #about_me_text .self_description .text .longer_description {
        font-size: 0.8rem;
    }

    .academic .title p,
    .work .title p {
        font-size: 1.2rem;
    }

    #about_me .background .content {
        font-size: 0.8rem;
    }

    #about_me .background {
        margin-top: 1rem;
    }

    .hr ::after {
        width: 45%;
    }

    .work .hr ::after {
        width: 30%;
    }

    #blogs .view_all {
        font-size: 0.8rem;
    }

    #skills .main .short_description {
        font-size: 0.7rem;
    }

    #skills .main .card p {
        font-size: 1rem;
    }

    #work .short_description {
        font-size: 0.7rem;
        max-width: 60%;
    }

    .work_card .project_name {
        font-size: 1rem;
    }

    #blogs {
        margin-bottom: 0;
    }

    #blogs .short_description {
        font-size: 0.7rem;
    }

    #footer p {
        font-size: 0.8rem;
    }

    .form_container {
        width: 100%;
    }

    #contact {
        margin-bottom: 3rem;
    }

    #contact .left .title {
        font-size: 1.5rem;
    }

    #contact .left .title span {
        font-size: 2rem;
    }

    #contact .left .short_description {
        font-size: 0.8rem;
    }

    .fa-envelope,
    .fa-github,
    .fa-linkedin-in {
        font-size: 1rem;
    }

    #contact .email,
    #contact .github,
    #contact .linkedin {
        height: 2rem;
        width: 2rem;
    }

    #contact .email,
    #contact .github {
        margin-right: 0.5rem;
    }

    .contact_form label {
        font-size: 0.8rem;
    }

    .contact_form button {
        font-size: 0.8rem;
    }

    #skills .pop_up {
        height: 72.5vh;
    }

    #skills .close {
        margin-bottom: 1rem;
    }
    #skills .pop_up .title {
        font-size: 2rem;
        color: #1DD882;
    }
    #skills .pop_up .card {
        padding: 0;
        background-color: transparent;
        border-radius: 0;
        margin-right: 1rem;
    }
}

@media screen and (max-width: 759px) {
    #blogs .cards {
        width: 80%;
    }

    #blogs .cards::-webkit-scrollbar {
        display: none;
    }
}

@media screen and (max-width: 740px) {
    .hero {
        min-height: 80vh;
    }

    #about_me_text .pictures img {
        width: 8rem;
        height: 8rem;
    }

    #about_me_text .pictures {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(8rem, 8rem));
        width: 16rem;
        margin-top: 5rem;
    }
}

@media screen and (max-width: 650px) {
    .nav_buttons .login {
        margin-right: 0.5rem;
    }

    .nav_menu li {
        margin-right: 0.7rem;
    }

    .hero_section img {
        width: 14rem;
        height: 14rem;
    }

}

/* small tablets */

@media screen and (max-width: 595px) {

    .nav_menu,
    .nav_buttons {
        display: none;
    }

    .fa-bars {
        display: block;
        font-size: 2rem;
        cursor: pointer;
    }

    .hero_section img {
        width: 12rem;
        height: 12rem;
    }

    .hero_section .self_description .name {
        font-size: 1rem;
    }

    .hero_section .self_description .role {
        font-size: 1.5rem;
    }

    .hero_section .self_description .description {
        font-size: 0.8rem;
    }

    .hero_section .left button {
        font-size: 0.8rem;
        margin-top: 1.5rem;
    }

    .hero {
        min-height: 65vh;
    }

    #about_me_text .self_description {
        flex-direction: column-reverse;
        align-items: center;
        width: 80%;
    }

    #about_me_text .self_description .text {
        max-width: 100%;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    #about_me_text .self_description .text .longer_description {
        width: 100%;
    }

    #about_me_text .left {
        width: 100%;
    }

    #about_me_text .pictures {
        margin-top: 2rem;
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(50%, auto));
    }

    #about_me_text .pictures img {
        width: 100%;
        height: 14.5rem;
        max-height: 14.5rem;
    }

    #about_me .background {
        flex-direction: column;
    }

    #about_me .background .academic,
    #about_me .background .work {
        width: 100%;
    }

    #about_me .background .academic {
        margin-bottom: 2rem;
    }

    .academic .title,
    .work .title {
        margin-bottom: 1rem;
    }

    #about_me .background .timeline_items {
        margin-left: 1rem;
    }

    #contact .left .short_description {
        width: 80%;
    }

    #about_me .background .timeline_items::before {
        height:70%;
    }

    #about_me .background {
        margin-bottom: 2rem;
    }

    #skills {
        min-height: fit-content;
    }

    #skills .main .short_description {
        font-size: 0.8rem;
    }

    #skills .main .cards {
        margin-top: 2rem;
        margin-bottom: 2.5rem;
    }

    #work .short_description {
        font-size: 0.8rem;
    }

    #work {
        min-height: fit-content;
        /* border: 2px solid lightgreen; */
    }

    #work .cards {
        margin-top: 2rem;
        margin-bottom: 2.5rem;
    }

    #blogs {
        min-height: fit-content; 
    }
    
    #blogs .short_description {
        color: #D4D4D4;
        font-size: 0.8rem;
    }

    #blogs .view_all {
        font-size: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    #blogs .cards {
        margin-top: 2rem;
    }

    #contact {
        margin-bottom: 1.5rem;
    }
}

/* mobile */
@media screen and (max-width: 530px) {
    .hero{
        min-height: fit-content;
    }

    .hero_section {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top: 3rem;
        margin-bottom: 1rem;
    }

    .hero_section .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3rem;

    }

    .hero_section .left .self_description {
        text-align: center;
    }

    .hero_section .left .name {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .hero_section .self_description .role {
        font-size: 2.5rem;
        /* line-height: 3.5rem; */
        margin-bottom: 0.8rem;
    }

    .hero_section .self_description .description {
        /* max-width: 28rem; */
        font-size: 1.2rem;
    }

    .hero_section .left button {
        font-size: 1rem;
    }

    .hero_section .right {
        width: 100%;
        display: flex;
        justify-content: center;
        /* border:2px solid grey; */
    }

    #about_me_text {
        min-height: fit-content;
    }

    .hero_section img {
        width: 90%;
        height: auto;
        max-height: 25rem;
    }

    #about_me_text .self_description .text .longer_description {
        font-size: 1rem;
    }

    .academic .title p,
    .work .title p {
        font-size: 1.5rem;
    }

    #about_me .background .content {
        font-size: 1rem;
    }
}

@media screen and (max-width: 465px) {
    #contact {
        margin-top: 2rem;
    }

    #contact .container {
        display: flex;
        flex-direction: column;
    }

    #contact .left {
        margin-bottom: 2rem;
        width: 80%;
        text-align: center;
    }

    #contact .right {
        width: 80%;
    }

    #contact .left .title {
        font-size: 2rem;
    }

    #contact .left .title span {
        font-size: 2.5rem;
    }

    #contact .left .short_description {
        font-size: 0.9rem;
        width: 90%;
        margin-bottom: 1rem;
    }

    .fa-envelope,
    .fa-github,
    .fa-linkedin-in {
        font-size: 1.5rem;
    }

    #contact .email,
    #contact .github,
    #contact .linkedin {
        height: 2.5rem;
        width: 2.5rem;
    }

    .contact_form label,
    .contact_form button {
        font-size: 1rem;
    }

    #footer p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 390px) {

    #skills .main #skills_cards_container {
        min-width: 81vw;
    }

    #skills .main #skills_cards_container .cards {
        min-width: 80vw;
    }

    #skills .main #skills_cards_container .card {
        min-width: 78vw;
        margin-right: 1rem;
    }

    #skills .main #skills_cards_container .card:last-child {
        margin-right: 0;
    }

    #work #work_cards_container {
        min-width: 81vw;
    }
}

@media screen and (max-width: 260px) {
    #blogs .cards {
        width: 40vh;
    }

    #blogs .card {
        margin-right: 2rem;
    }

    .blog_card img {
        max-height: 6rem;
    }
}