* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #2B2D3A;
    color: #fff;
    font-family: 'Poppins';
}

a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.stop-scrolling {
    overflow: hidden;
}

button {
    cursor: pointer;
}

nav li {
    cursor: pointer;
}

nav li:last-child {
    padding-right: 0;
}

nav {
    width: 100%;
    background-color: #2B2D3A;
    position: sticky;
    top: 0;
    z-index: 2;
}

.nav_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.logo {
    font-family: 'La Belle Aurore', cursive;
    font-size: 3.5rem;
    color: #1DD882;
    padding: 0;
    margin: 0;
    line-height: 53px;
    height: 37px;
}

.nav_menu {
    list-style: none;
    display: flex;
}

.nav_menu li {
    padding-right: 2rem;
}

.nav_buttons .login,
.res_nav_buttons .login {
    background-color: #2B2D3A;
    border: 2px solid #1DD882;
    border-radius: 10px;
    color: #fff;
    padding: 0.5rem 1.7rem;
    font-family: 'Poppins';
    font-size: 1rem;
    margin-right: 1.5rem;
}

.nav_buttons .login a,
.res_nav_buttons .login a {
    text-decoration: none;
    color: #fff;
}

.nav_buttons .contact,
.res_nav_buttons .contact {
    background-color: #1DD882;
    border: none;
    border-radius: 10px;
    color: #fff;
    padding: 0.6rem 1.5rem;
    font-family: 'Poppins';
    font-size: 1rem;
}

.fa-bars {
    display: none;
}

.responsive_nav {
    background-color: #1E1F29;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    visibility: hidden;
    position: fixed;
    height: 87vh;
    width: 100%;
    z-index: 100;
}

.res_nav_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.res_nav_menu {
    list-style-type: none;
}

.res_nav_menu li {
    margin-bottom: 2rem;
    text-decoration: none;
}

.res_nav_menu a {
    text-decoration: none;
}

.res_nav_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.res_nav_buttons .login {
    margin-right: 0;
    margin-bottom: 2rem;
}

.res_nav_buttons .login,
.res_nav_buttons .contact {
    font-weight: 600;
}

.body {
    width: 80%;
    margin: auto;
    min-height: 86vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

.back {
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
}

.fa-arrow-left {
    font-size: 2rem;
    color: #1DD882;
    cursor: pointer;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.title span {
    color: #1DD882;
}

.create_new {
    display: flex;
    justify-content: flex-end;
    width: 85%;
    margin-bottom: 1.5rem;
}

.create_new button {
    background-color: #fff;
    border: none;
    border-radius: 10px;
    color: black;
    padding: 0.6rem 1.5rem;
    font-size: 1rem;
    font-weight: 700;
    width: fit-content;
}

.create_new button a {
    text-decoration: none;
    color: black;
}

.fa-plus {
    font-size: 1.2rem;
}

table {
    background-color: #1E1F29;
    width: 85%;
    border-collapse: collapse;
    margin-bottom: 2rem;
}

tr {
    border-bottom: 1px solid #fff;
}

thead tr {
    text-align: left;
}

th,
td {
    padding: 1rem 1rem;
}

tbody tr:last-of-type {
    border-bottom: 0;
}

th {
    padding-top: 1.5rem;
}

tbody tr:last-of-type td {
    padding-bottom: 1.5rem;
}

.col_first {
    padding-left: 1.5rem;
}

.likes,
.comments {
    text-align: center;
}

.edit{
    background-color: #1DD882;    
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}
.delete {
    background-color: #ff9494;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}

.edit {
    margin-right: 0.5rem;
}

.icons {
    display: flex;
}

.blog_title_cell{
    /* width:30%; */
    /* border:2px solid red; */
}

.article_row .blog_title_cell{
    cursor:pointer;
}

#popup_container {
    max-height: 100%;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.616);
    /* backdrop-filter: blur(2px); */
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.popup_buttons{
    display: flex;
    margin-top: 2rem;
}

#popup_container .title {
    margin-bottom: 2rem;
}

#popup_container button{
    margin-bottom: 3rem;
    background-color: #1DD882;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 0.5rem 2rem;
    font-family: 'Poppins';
    font-size: 1rem;
    width: fit-content;
}

#popup_container #confirm_delete_button{
    margin-right: 1rem;
    background-color: #2B2D3A;
    border: 2px solid #1DD882;    
}

#popup_container .pop_up{
    background-color: #1E1F29;
    /* height: 70vh; */
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.show_popup {
    visibility: visible;
}

.pop_up::backdrop {
    background-color: hsla(0, 0%, 0%, 0.3);
}

#popup_container .close {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#popup_container .close .container{
    background-color: #1DD882;
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-xmark {
    cursor: pointer;
}

#footer {
    height: 3rem;
    background-color: #1E1F29;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Nav */
@media screen and (max-width: 1144px) {
    .nav_menu li {
        padding-right: 1rem;
    }

    .nav_buttons .login {
        margin-right: 1rem;
    }
}

@media screen and (max-width: 1000px) {
    .nav_buttons .contact {
        padding: 0.6rem 1rem;
    }

    .nav_buttons .login {
        padding: 0.5rem 1.2rem;
    }
}

@media screen and (max-width: 935px) {
    .nav_buttons .contact {
        font-size: 0.8rem;
    }

    .nav_buttons .login {
        font-size: 0.8rem;
    }

    .nav_menu li {
        font-size: 0.8rem;
    }

    th,
    td {
        font-size: 0.8rem;
    }

    .create_new button {
        font-size: 0.8rem;
    }

    .fa-plus {
        font-size: 1rem;
    }
}

@media screen and (max-width: 899px) {
    .create_new {
        width: 100%;
    }

    table {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .nav_buttons .login {
        margin-right: 0.5rem;
    }

    .nav_menu li {
        padding-right: 0.7rem;
    }

    .nav_buttons .login {
        margin-right: 0.5rem;
    }
}

@media screen and (max-width: 770px) {

    th,
    td {
        padding: 0.5rem 0.5rem;
    }
}

@media screen and (max-width: 748px) {
    .nav_buttons .contact {
        padding: 0.6rem 0.6rem;
    }

    .nav_buttons .login {
        padding: 0.5rem 0.6rem;
    }
}

@media screen and (max-width: 696px) {

    .nav_menu,
    .nav_buttons {
        display: none;
    }

    .fa-bars {
        display: block;
        font-size: 2rem;
        cursor: pointer;
    }
}

/* @media screen and (max-width: 570px) {
    .body {
        width: 85%;
    }
} */

@media screen and (max-width: 570px) {
    table{
        background-color: transparent;
        margin-bottom: 0;
    }

    .body {
        width: 80%;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        display: block;
        margin-bottom: 1rem;
        background-color: #1E1F29;
    }

    table td {
        border-bottom: 1px solid #fff;
        display: block;
        font-size: .8em;
        text-align: right;
        padding-right: 1rem;
        /* max-width: 60%; */
    }

    .likes,
    .comments {
        text-align: right;
    }

    .icons {
        display: block;
        border-bottom: 0;
    }

    .edit,
    .delete {
        display: inline-flex;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: 700;
        padding-left: 0.5rem;
    }

    .col_first {
        padding-left: 8px;
        padding-top: 1.5rem;
    }

    .last_colmn{
        padding-bottom: 1.5rem;
        border-bottom: 0;
    }

    table tr{
        border-bottom: 0;
    }
}

@media screen and (max-width: 570px) {
    
}
